

.default{
    background: blue;
    padding: 40px;
    transition: background 0.4s ease-in-out;
}

.dark{
    background: black;
    color: #fff;
}

.light{
    background: #fff;
    color: black;
}